@font-face {
    font-family: 'digital-clock-font';
    src: url('../lib/font/Technology.ttf');
}

@keyframes rightToLeft {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(2000px);
    }
}

.navbar-color {
    background-color: #3D6B2C;
}

.top-bar {
    display: flex;
    overflow-x: hidden;
    align-content: center;
    background-color: rgba(14, 14, 14, 0.92);
    height: 100px;
}

.top-display {
    font-family: digital-clock-font;
    font-size: 55px;
    text-align: center;
    color: rgb(233, 233, 58);
    animation-name: rightToLeft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
