@page
@model Forum.Pages.CRUD.CreateForumModel

@{
    ViewData["Title"] = "CreateForum";
}

<h1>CreateForum</h1>

<h4>ForumIndex</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ForumIndex.Title" class="control-label"></label>
                <input asp-for="ForumIndex.Title" class="form-control" />
                <span asp-validation-for="ForumIndex.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForumIndex.Description" class="control-label"></label>
                <input asp-for="ForumIndex.Description" class="form-control" />
                <span asp-validation-for="ForumIndex.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Forum">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
